<div class="background-container">
  <% if @movie.backdrop_image.file %>
    <div style="background-image: url(<%= image_path(@movie.backdrop_image) %>);" class="background"></div>
  <% else %>
    <div style="background-image: url(<%= image_path(@movie.poster_image) %>);" class="background"></div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 main">
      <div class="poster" style="">
        <img src="<%= @movie.poster_image %>" class="img-fluid">
      </div>
      <h1 style="font-size: 17px; padding: 2px;"><%= @movie.title %></h1>
      <% if @movie.rating %>
        <p style="font-size: 12px; padding: 2px;">IMDB Rating: <%= @movie.rating %></p>
      <% end %>
      <% if @movie.release_date %>
        <p style="font-size: 12px; padding: 2px;"><%= @movie.release_date.strftime("#{@movie.release_date.day.ordinalize} %B %Y") %></p>
      <% end %>
      <% if @movie.overview %>
        <p style="font-size: 12px; padding: 2px;"><%= @movie.overview %></p>
      <% end %>
    </div>
    <div class="col-sm-9 col-md-9 main">
      <% @movie.movie_links.each do |movie_link| %>
        <div class="flex-video">
          <iframe src="<%= movie_link.link %>" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="281" width="500"></iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>
