<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Project name</a>
  <div id="navbar">
    <nav class="nav navbar-nav pull-xs-left">
      <a class="nav-item nav-link" href="#">Movies</a>
      <a class="nav-item nav-link" href="#">TV Shows</a>
      <a class="nav-item nav-link" href="#">Trending</a>
      <a class="nav-item nav-link" href="#">Ratings</a>
    </nav>
    <form class="pull-xs-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h1>Dashboard</h1>

      <div class="row">
        <div class="col-xs-6 col-sm-3 box">
          <img src="http://placehold.it/350x150" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 box">
          <img src="http://placehold.it/350x150" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 box">
          <img src="http://placehold.it/350x150" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 box">
          <img src="http://placehold.it/350x150" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
      </div>

      <br><br><br>

      <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

              <div id="owl-demo" class="owl-carousel">
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
                <div class="item"><%= image_tag('owl.jpg', class: 'lazyOwl') %></div>
              </div>

            </div>
          </div>
        </div>


      <h1>On deck</h1>

      <div class="row">
        <div class="col-xs-6 col-sm-2 box">
          <img src="http://placehold.it/200x300" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2 box">
          <img src="http://placehold.it/200x300" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2 box">
          <img src="http://placehold.it/200x300" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2 box">
          <img src="http://placehold.it/200x300" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2 box">
          <img src="http://placehold.it/200x300" class="img-fluid">
          <div class="info-box">
            <div class="title">The Night Of</div>
            <div class="year">2016</div>
          </div>
        </div>
        <% Movie.all.each do |movie| %>
        <div class="col-xs-6 col-sm-2 box">
          <img src="<%= movie.poster_image %>" class="img-fluid">
          <div class="info-box">
            <div class="title"><%= movie.title %></div>
            <div class="year">2016</div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
